@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.containersh
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}
.containersh .boxsh
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.containersh .boxsh::before
{
    content: 'NIKE';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;

}


.containersh .boxsh::after
{
    content: 'Shoes';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;

}
.containersh .boxsh:hover::before,
.containersh .boxsh:hover::after
{
    opacity: 0.04;
}
.containersh .boxsh .namesh
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.containersh .boxsh:hover .namesh
{
    top: 40px;
    opacity: 1;
}
.containersh .boxsh .buysh
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.containersh .boxsh:hover .buysh
{
    bottom: 30px;
    opacity: 1;
}
.containersh .boxsh .circlesh
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: -9;
    opacity: 1;
    transform: translate3d(-50%,-50%,0px)

}
.containersh .boxsh .productsh
{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 12;
    transform: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,10px)rotate(-15deg);
}
.containersh .boxsh:nth-child(1) .circlesh,
.containersh .boxsh:nth-child(1) .buysh
{
    background: #379bf7;
}
.containersh .boxsh:nth-child(2) .circlesh,
.containersh .boxsh:nth-child(2) .buysh
{
    background: #9bdc28;
}
.containersh .boxsh:nth-child(3) .circlesh,
.containersh .boxsh:nth-child(3) .buysh
{background: #fb4b4f;

}
.containersh .boxsh:hover .productsh
{
    transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}